// YourSCSSFile.scss
$Roboto: 'Roboto', sans-serif;
$Caluna: 'Caluna', sans-serif;

/* Font-face declarations for custom fonts */
@font-face {
  font-family: #{$Caluna};
  src: url('./Font-family/calluna-regular.otf') format('opentype');
  /* Add more font formats (e.g., woff, woff2, ttf) if needed */
}

@font-face {
  font-family: #{$Roboto};
  src: url('./Font-family/Roboto/Roboto-Black.ttf') format('truetype');
  /* You can specify additional font formats if needed */
}
.Education{
  h1{
    font-family: $Roboto;
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
}



.template {
  border: 1px solid white;
  backdrop-filter: blur(5px);
  margin:50px;
  margin-left: -10px;
  margin-right: -10px;
  
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: white;
  transition: color 2s ease-in-out;

  /* Styles for title */
  .title {
    font-family: $Roboto;
    font-size: 45px;
    text-align: left;
    color: #fff;
  }

  /* Styles for timeline */
  .timeline {
    font-family: $Roboto;
    font-size: 25px;
    text-align: right;
    color: #fff;
  }

  /* Styles for description */
  .description {
    font-family: $Roboto;
    font-size: 25px;
    text-align: right;
    color: #fff;
    align-items: left;
  }

  &.expanded {
    color: blue($color: #000000);
  }

  &:focus {
    color: brown;
  }
}


//{ --------------End of Worker,js-----------------}
.Job-main{ 
    font-family: Roboto;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
.icons{
  align-items: center;
  display: 'flex'; 
  justify-content: center;
}
.vanta {
  //background-image: "./background.jpeg";
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Rest of your SCSS styles */
.content {
  /* Styles for your content */
  position: relative; /* Ensure the content is positioned relative */
  z-index: 1; /* Place the content on top of the background */
}
/* styles.css (or .scss) */

  
/* Your other CSS styles and components can use 'Caluna' as the font-family now */
.title{
  font-family: Roboto;
  font-size: 50px;
  text-align: left;
  color: #fff;
}
.timeline{
  font-family: $Roboto;
  font-size: 50px;
  text-align: right;
  color: #fff;
}
.description{
  font-family: $Roboto;
  font-size: 25px;
  text-align: right;
  color: #fff;
  align-items: left;
}

.name_main{
margin: 0 auto;
font-size: 50px;
text-align: center;
align-items: center;
}

.Work-Experience{
  margin: 0 auto;
  font-size: 50px;
  font-family: Roboto;
  text-align: center;
  color: #fff;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) { 
  .name_main{
  margin: 0 auto;
  //font-size: small;
  } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .name_main{
  margin: 0 auto;
  font-family: Roboto;
  } 
}
// Large devices (desktops, 992px and up)
@media (min-width: 1024px) { 
  .name_main{
  margin: 0 auto;
  } 
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .name_main{
    margin: 0 auto;
    } 
  
 }


