/* Font-face declarations for custom fonts */
$Roboto: 'Roboto', sans-serif;
$Caluna: 'Caluna', sans-serif;
$Robotoitalic: 'Robotoitalic', sans-serif; // Make sure to specify a fallback font
$Robotslabreg:'Robotoslabregular';
$Robotslabsemibold:'Robotslabsemibold';
/* Font-face declarations for custom fonts */
@font-face {
  font-family: $Caluna;
  src: url('./Font-family/calluna-regular.otf') format('opentype');
  /* Add more font formats (e.g., woff, woff2, ttf) if needed */
}

@font-face {
  font-family: $Roboto;
  src: url('./Font-family/Roboto/Roboto-Black.ttf') format('truetype');
  /* You can specify additional font formats if needed */
}

@font-face {
  font-family: 'Robotoitalic';
  src: url('./Font-family/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  /* You can specify additional font formats if needed */
}

@font-face {
  font-family: 'Robotslabregular';
  src: url(./Font-family/Roboto_Slab/static/RobotoSlab-Regular.ttf)format('opentype');
}

@font-face {
  font-family:'Robotslabsemibold' ;
  src: url(./Font-family/Roboto_Slab/static/RobotoSlab-SemiBold.ttf)format('opentype');
}

.App-header{
  margin-bottom:100px;

}
// <------------------Start of Nav.js----------------------->

.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
lord-icon {
  width: 100px;
  height: 150px;
}



//<------------------End of Nav.js----------------------->

/* Your CSS */


.skill-container {
  border: solid 2px white;
  color: #fff;

  /* Add a transition for max-height */
  max-height: 100px;
  transition: max-height 0.3s ease-in-out;

  h1 {
    color: #fff;
  }
}

.expanded {
  /* Set max-height to a large value when expanded */
  max-height: 1000px;
}

.row.expanded-content {
  color: aquamarine;
  /* Optionally, add styles for the expanded content */
  /* You can control the appearance of the expanded content here */
  /* For example, you can set opacity, display, or other properties */
}

.Education{
  h1{
    font-family: $Roboto;
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  .school-icon{
    font-size: 50;
  }
}

.Experience{
  h1{
    font-family: $Roboto;
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  WorkIcon{
    font-size: 50px;
  }
}





//{ --------------End of Worker,js-----------------}
// {--------------start of Initialloader.js------}

.main-container {
  .col-md-6.left-container {
    .name_main {
      font-size: 50px;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      font-family: Roboto;

      @media (max-width: 320px) {
        font-size: 40px;
      }

      @media (max-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 1024px) {
        font-size: 60px;
      }

      @media (min-width: 1200px) {
        font-size: 60px;
      }
    }
  }

  .col-md-6.pr-1.right {
    .Job-main {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      font-family: Roboto;
      @media (max-width: 320px) {
        font-size: 40px;
      }

      @media (max-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 1024px) {
        font-size: 60px;
      }

      @media (min-width: 1200px) {
        font-size: 60px;
      }
    }
    }
  

  .col-md-12.pt-5.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-fluid {
      /* Content for the center container */
      
      .links{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        font-family: Roboto;

        @media (max-width: 320px) {
          font-size: 40px;
        }

        @media (max-width: 768px) {
          font-size: 40px;
        }

        @media (min-width: 1024px) {
          font-size: 45px;
        }

        @media (min-width: 1200px) {
          font-size: 50px;
        }
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: #fff;
          margin: 0;
          padding: 0;

          &:hover {
            text-decoration: none;
          }
          margin: 20px;
        }
      }
    }
  }
}


// {--------------End of Initialloader.js---------}

.icons{
  align-items: center;
  display: 'flex'; 
  justify-content: center;
}
.vanta {
  //background-image: "./background.jpeg";
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Rest of your SCSS styles */
.content {
  /* Styles for your content */
  position: relative; /* Ensure the content is positioned relative */
  z-index: 1; /* Place the content on top of the background */
}
// {---------------------Start of Experience.js--------------------- }

.WorkHicon{
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.container.template {
  transition: all 2s;
  backdrop-filter: blur(8px);
  justify-content: center;
  margin-top: 50px;
  @media (max-width: 320px) {
    
    
  }

  @media (max-width: 768px) {
  
    
  }

  @media (min-width: 1024px) {
    border: solid 1px whitesmoke;
  
  }

  @media (min-width: 1200px) {
    border: solid 1px whitesmoke;
  
    
  }

  
  
  .container {
    .row {   
      .title {
        
        font-size: 50px;
        text-align: left;
        font-family: $Robotslabreg;
        color: #fff;
        justify-content: flex-start;
        @media (max-width: 320px) {
          font-size: 25px;
          
        }

        @media (max-width: 768px) {
          font-size: 25px;
        }

        @media (min-width: 1024px) {
          font-size: 40px;
        }

        @media (min-width: 1200px) {
          font-size: 40px;
        }
        
      }
      
      .timeline {
        font-size: 25px;
        font-family: $Roboto;
        color: #fff;
        padding-top: 10px;
        text-align: right;

        @media (max-width: 320px) {
          font-size: 25px;
        }

        @media (max-width: 768px) {
          font-size: 15px;
        }

        @media (min-width: 1024px) {
          font-size: 40px;
        }

        @media (min-width: 1200px) {
          font-size: 40px;
        }
      }
      
    }
    
    .row {
      .col-4.company{
        font-size: 20px;
        font-family: $Robotoitalic;
        color: whitesmoke;
        text-align: left;
      }
      .col-8.description {
        font-size: 20px;
        font-family: $Roboto;
        color: #fff;
        text-align: right;
      }
    }
    
  }
  
 
}
.showmore{
  height: 0;
  overflow: hidden;
  color: white;
  transition: all 0.5s ease-in-out;
  .col-12{
    padding-top: 30px;
    ul{
      list-style-type: none ;
      text-align: right;
      li{
          list-style-type: none;
          margin-bottom:10px;
          opacity: 0;
          
      }
    }
  }
}
/* Add this CSS rule to your SCSS */
.container.template.expanded {
  list-style: none;
  transition: all 2s ease-in-out; 
  color:black;
  .container {
    .row {
      .col-12 {
        padding-top: 20px;
        ul {
          list-style-type: none;
          li {
            opacity: 1;
            transition:  all 1s ease-in-out;
            color:whitesmoke;
            margin-bottom:10px;
            list-style-type: none;
            
          }
        }
      }
    }
  }
}



      
    
  


// {---------------------End of Experience.js--------------------- }

// {---------------------Start of Education.js--------------------- }
#school-icon{
  height: 100px;
  width: 100px;
  @media (min-width: 320px) and (max-width: 720px) {
    height: 50px;
    width: 50px;
  }
  
}

.container.education {
  backdrop-filter: blur(6px);
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1200px;

  @media (min-width: 720px) and (max-width: 8000px) {
    border: solid 1px whitesmoke;
  }

  .row {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .col-1{
    .university-logo {
    height: 200px;
    width: 200px;
    padding:10px;
    @media (min-width: 320px) and (max-width: 720px){
      height:55px ;
      width: 55px;
      
    }
  }
}

  .col-7.title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: x-large;
    font-family: $Robotslabsemibold;
    color: white;
    justify-content: center;
    padding-left: 110px;
    padding-top: 80px;
    .links {
      text-decoration: none;
      color: #fff;
      
    }

    @media (min-width: 320px) and (max-width: 720px) {
      font-size: x-small;
      font-family:$Robotslabsemibold;
      text-align: center;
      padding-left: 40px;
      padding-top: 10px;
    }
    
  }

  .col-4.timeline {
    font-size: x-large;
    color: white;
    padding-top: 30px;
    font-family: $Robotslabsemibold;
    text-align: center;
    padding-top: 80px;

    @media (min-width: 320px) and (max-width: 720px) {
      font-size: xx-small;
      padding-top: 20px;
      text-align: center;
      
      font-family: $Robotslabsemibold;
    }
    
  }

  .col-12.description {
    font-size: x-large;
    font-family: $Robotoitalic;
    color: #fff;
    text-align: right;

    @media (min-width: 320px) and (max-width: 720px) {
      font-size: small;
    }
  }
}


// {---------------------End of Education.js--------------------- }

//{---------------------Start of about.js--------------------- }


.About-header{
  color:#fff;
  font-family: $Robotslabreg;
}
.container.skill-container{
  width: 80%; /* Set the width to 80% of the parent container */
  color:white;
  justify-content: center;
  backdrop-filter: blur(8px);
  
  border: none;
  
  .backdrop-filter-wrapper {
    backdrop-filter: blur(8px); /* Standard syntax */
    height: max-content;
    display: flex;
    padding: 40px;
    border: solid 2px whitesmoke;
  
  .col-6{
    height: max-content;
    
    .user-image{
      border-radius: 50%;
      height:500px;
      width: 500px;
      border: solid 5px whitesmoke;
    }    
  }
}
}



//{---------------------End of about.js--------------------- }

@media (max-width: 320px) { 
   
  lord-icon {
    width: 50px;
    height: 100px;
  }

  }



// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  lord-icon {
    width: 50px;
    height: 100px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 1024px) { 
  
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
 }


