

$Home: '../Components/Nav.js';
// $Home: 'https://cdn.lordicon.com/kxoxiwrf.json';
$Computer: 'https://cdn.lordicon.com/qhgmphtg.json';
$Email: 'https://cdn.lordicon.com/rhvddzym.json';
$Contact: 'https://cdn.lordicon.com/wxnxiano.json';

// YourSCSSFile.scss
$Roboto: 'Roboto', sans-serif;
$Caluna: 'Caluna', sans-serif;


/* Font-face declarations for custom fonts */
@font-face {
  font-family: #{$Caluna};
  src: url('./Font-family/calluna-regular.otf') format('opentype');
  /* Add more font formats (e.g., woff, woff2, ttf) if needed */
}

@font-face {
  font-family: #{$Roboto};
  src: url('./Font-family/Roboto/Roboto-Black.ttf') format('truetype');
  /* You can specify additional font formats if needed */
}
// <------------------Start of Nav.js----------------------->

.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
lord-icon {
  width: 100px;
  height: 100px;
}



//<------------------End of Nav.js----------------------->

/* Your CSS */
.custom-avatar {
  width: 250px;
  height: 250px;
  /* Other custom styles */
}

//<------------------Start of Initialloader.js----------------------->


//<------------------End of Inittialloader.js----------------------->

.skill-container {
  border: solid 2px white;
  color: #fff;

  /* Add a transition for max-height */
  max-height: 100px;
  transition: max-height 0.3s ease-in-out;

  h1 {
    color: #fff;
  }
}

.expanded {
  /* Set max-height to a large value when expanded */
  max-height: 1000px;
}

.row.expanded-content {
  color: aquamarine;
  /* Optionally, add styles for the expanded content */
  /* You can control the appearance of the expanded content here */
  /* For example, you can set opacity, display, or other properties */
}

.Education{
  h1{
    font-family: $Roboto;
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  .school-icon{
    font-size: 50;
  }
}

.Experience{
  h1{
    font-family: $Roboto;
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  WorkIcon{
    font-size: 50px;
  }
}



.template {
  border: 1px solid white;
  backdrop-filter: blur(5px);
  margin:50px;
  margin-left: -10px;
  margin-right: -10px;
  
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: white;
  transition: color 2s ease-in-out;

  /* Styles for title */
  .title {
    font-family: $Roboto;
    font-size: 45px;
    text-align: left;
    color: #fff;
  }

  /* Styles for timeline */
  .timeline {
    font-family: $Roboto;
    font-size: 25px;
    text-align: right;
    color: #fff;
  }

  /* Styles for description */
  .description {
    font-family: $Roboto;
    font-size: 25px;
    text-align: right;
    color: #fff;
    align-items: left;
  }

  &.expanded {
    color: blue($color: #000000);
  }

  &:focus {
    color: brown;
  }
}


//{ --------------End of Worker,js-----------------}
// {--------------start of Initialloader.js------}

.main-container{
  .col-md-12.pt-5.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .container-fluid {
      /* Content for the center container */
  
      .links {
        display: flex; // Display links horizontally
        justify-content: center; // Center-align links horizontally
        align-items: center; // Center-align links vertically
  
        a {
          text-decoration: none;
          color: #fff; // Remove text decoration for all links
          margin: 0; // Reset margin
          padding: 0; 
          &:hover {
            text-decoration: none; // Remove text decoration on hover
          }
          margin: 20px; 
        }
      }
    }
  }
}

// {--------------End of Initialloader.js---------}
.Job-main{ 
    font-family: Roboto;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
.icons{
  align-items: center;
  display: 'flex'; 
  justify-content: center;
}
.vanta {
  //background-image: "./background.jpeg";
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Rest of your SCSS styles */
.content {
  /* Styles for your content */
  position: relative; /* Ensure the content is positioned relative */
  z-index: 1; /* Place the content on top of the background */
}
/* styles.css (or .scss) */

  
/* Your other CSS styles and components can use 'Caluna' as the font-family now */
.title{
  font-family: Roboto;
  font-size: 50px;
  text-align: left;
  color: #fff;
}
.timeline{
  font-family: $Roboto;
  font-size: 50px;
  text-align: right;
  color: #fff;
}
.description{
  font-family: $Roboto;
  font-size: 25px;
  text-align: right;
  color: #fff;
  align-items: left;
}

.name_main{
margin: 0 auto;
font-size: 50px;
text-align: center;
align-items: center;
}

.Work-Experience{
  margin: 0 auto;
  font-size: 50px;
  font-family: Roboto;
  text-align: center;
  color: #fff;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 320px) { 
  .name_main{
  margin: 0 auto;
  //font-size: small;
  } 
  lord-icon {
    width: 50px;
    height: 50px;
  }

  
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  .name_main{
  margin: 0 auto;
  font-family: Roboto;
  }
  lord-icon {
    width: 50px;
    height: 50px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 1024px) { 
  .name_main{
  margin: 0 auto;
    .custom-avatar{
      width:250px;
      height: 250px;
    }
  }
  
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .name_main{
    margin: 0 auto;
    }
    .h1{
      color: #fff;
    } 
  
 }


