// YourSCSSFile.scss


.vanta {
  //background-image: "./background.jpeg";
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Rest of your SCSS styles */

.content {
  /* Styles for your content */
  position: relative; /* Ensure the content is positioned relative */
  z-index: 1; /* Place the content on top of the background */
}
/* styles.css (or .scss) */

@font-face {
  font-family: 'Caluna';
  src: url('./Font-family/calluna-regular.otf') format('opentype');
  /* Add more font formats (e.g., woff, woff2, ttf) if needed */
}
.card-container {
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    cursor: pointer;
    align-items: center;
    width: 200px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .selected {
    position: absolute;
    z-index: 2;
    display: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7); /* Background with blur effect */
    backdrop-filter: blur(8px); /* Apply blur effect to the background */

    .expanded-card {
      width: 100%;
      height: 100%;
      padding: 16px;
      margin: 16px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 5;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/* Your other CSS styles and components can use 'Caluna' as the font-family now */

